<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ArticleMapper">
    <select id="selectAll" resultType="com.example.entity.Article">
        select article.*,
               user.name as userName,
               user.avatar as avatar,
               (select count(*) from `likes` where likes.article_id = article.id) as likeCount,
               (select count(*) from `comments` where comments.article_id = article.id) as commentCount,
               (select l.id from `likes` l where l.article_id = article.id and l.user_id = #{loginUserId} limit 1) as likedId
        from `article`
        left join user on article.user_id = user.id
        <where>
            <if test="title != null and title != ''"> and article.title like concat('%', #{title}, '%')</if>
            <if test="userId != null"> and article.user_id = #{userId}</if>
            <if test="status != null"> and article.status = #{status}</if>
        </where>
        order by article.id desc
    </select>

    <insert id="insert" parameterType="com.example.entity.Article" useGeneratedKeys="true" keyProperty="id">
        insert into `article`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="img != null">img,</if>
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="reason != null">reason,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="img != null">#{img},</if>
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status != null">#{status},</if>
            <if test="reason != null">#{reason},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Article">
        update `article`
        <set>
            <if test="img != null">img = #{img},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="content != null">content = #{content},</if>
            <if test="time != null">time = #{time},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reason != null">reason = #{reason},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
