<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ChargeMapper">

    <select id="selectAll" resultType="com.example.entity.Charge">
        select charge.*, user1.name as userName, user2.name as itemUserName,
        items.name as itemName, items.requirement
        from `charge`
        left join user user1 on charge.user_id = user1.id
        left join user user2 on charge.item_userid = user2.id
        left join items on charge.item_id = items.id
        <where>
            <if test="itemName != null"> and items.name like concat('%', #{itemName}, '%')</if>
            <if test="userId != null"> and charge.user_id = #{userId}</if>
            <if test="itemUserid != null"> and charge.item_userid = #{itemUserid}</if>
            <if test="status != null and status != ''"> and charge.status = #{status}</if>
        </where>
        order by charge.id desc
    </select>

    <insert id="insert" parameterType="com.example.entity.Charge" useGeneratedKeys="true" keyProperty="id">
        insert into `charge`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="content != null">content,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="time != null">time,</if>
            <if test="status != null">status,</if>
            <if test="reason != null">reason,</if>
            <if test="location != null">location,</if>
            <if test="shareTime != null">share_time,</if>
            <if test="itemUserid != null">item_userid,</if>
            <if test="comment != null">comment,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="content != null">#{content},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="time != null">#{time},</if>
            <if test="status != null">#{status},</if>
            <if test="reason != null">#{reason},</if>
            <if test="location != null">#{location},</if>
            <if test="shareTime != null">#{shareTime},</if>
            <if test="itemUserid != null">#{itemUserid},</if>
            <if test="comment != null">#{comment},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Charge">
        update `charge`
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="itemId != null">
                item_id = #{itemId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="shareTime != null">
                share_time = #{shareTime},
            </if>
            <if test="itemUserid != null">
                item_userid = #{itemUserid},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
