<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentsMapper">

    <select id="selectAll" resultType="com.example.entity.Comments">
        select comments.*, user.name as userName, user.avatar, article.title as articleTitle from `comments`
        left join user on comments.user_id = user.id
        left join article on comments.article_id = article.id
        <where>
            <if test="userId != null"> and comments.user_id = #{userId}</if>
            <if test="articleId != null"> and comments.article_id = #{articleId}</if>
        </where>
        order by comments.id desc
    </select>

    <insert id="insert" parameterType="com.example.entity.Comments" useGeneratedKeys="true">
        insert into `comments`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="articleId != null">article_id,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="articleId != null">#{articleId},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Comments">
        update `comments`
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="articleId != null">
                article_id = #{articleId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>